<div class="jumbotron">
  <div class="row">
    <div class="col-md-6">

      <%= form_for @advert, html: { multipart: true } do |f| %>

          <% if @advert.errors.any? %>
              <div id="error_explanation">
                <h2>
                  <%= pluralize(@advert.errors.count, "error") %> prohibited
                  this advert from being saved:
                </h2>
                <ul>
                  <% @advert.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                  <% end %>
                </ul>
              </div>
          <% end %>

          <div class="form-group">
            <%= f.file_field :image, :class => 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :titre %><br>
            <%= f.text_field :title, :class => 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :description %><br>
            <%= f.text_area :description, :class => 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :prix %><br>
            <%= f.text_field :price, :class => 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :categorie %><br>
            <%= f.collection_select :category_id, Category.all, :id, :title, {}, { :class => 'form-control' } %>
          </div>

          <div class="form-group">
            <%= f.submit 'Ajouter', :class => 'btn btn-primary'  %>
          </div>

      <% end %>
    </div>
  </div>
</div>