
<%= form_for @advert, html: { multipart: true } do |f| %>

    <% if @advert.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@advert.errors.count, "error") %> prohibited
            this advert from being saved:
          </h2>
          <ul>
            <% @advert.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <%= f.file_field :image %>
    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </p>

    <p>
      <%= f.label :description %><br>
      <%= f.text_area :description %>
    </p>

    <p>
      <%= f.label :price %><br>
      <%= f.text_field :price %>
    </p>

    <%= f.collection_select :category_id, Category.all, :id, :title %>

    <p>
      <%= f.submit %>
    </p>

<% end %>