<% if @adverts.present? %>
    <h1>Liste des annonces</h1>
    <%- if current_user %>
        <%= link_to 'Ajouter une annonce', new_advert_path , class:"btn btn-success" %>
    <% else %>
        <div class="alert alert-info" role="alert">Vous devez être connecté pour ajouter une annonce</div>
    <% end %>
    <%= will_paginate @adverts %>
    <hr>
        <% @adverts.each do |advert| %>
        <div class="row">
          <div class="col-md-6">
              <%= image_tag advert.image.url(:medium) , class: "img-responsive" %>
          </div>
          <div class="col-md-6">
            <h3><%= advert.title %></h3>
            <p><%= advert.description %></p>
            <h4><%= advert.price %> &euro; </h4>
            <h5>Catégorie : <span class="label label-info"><%= advert.category.title %></span></h5>
            <%= link_to 'Voir', advert_path(advert), class: "btn btn-primary" %>
            <%- if current_user %>
                <%- if current_user.id == advert.user_id %>
                    <%= link_to 'Modifier', edit_advert_path(advert), class: "btn btn-warning"  %>
                    <%= link_to 'Supprimer', advert_path(advert), class: "btn btn-danger" ,
                                    method: :delete,
                                    data: { confirm: 'Etes-vous sur ?' } %>
                <% end %>
            <% end %>
          </div>
        </div>
        <hr>
        <% end %>
<% else %>
    <h1>Aucune annonce disponible</h1>
    <%- if current_user %>
        <%= link_to 'Ajouter une annonce', new_advert_path , class:"btn btn-success" %>
    <% else %>
        <div class="alert alert-info" role="alert">Vous devez être connecté pour ajouter une annonce</div>
    <% end %>
<% end %>
