<p>
  <strong>Titre:</strong>
  <%= @advert.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @advert.description %>
</p>

<p>
  <strong>Prix:</strong>
  <%= @advert.price %>
</p>

<%= image_tag @advert.image.url(:medium) %>
<%= link_to 'Back', adverts_path %>
<%- if current_user %>
<%= link_to 'Edit', edit_advert_path(@advert) %>
<% end %>