<!DOCTYPE html>
<html>
  <head>
    <title>LeboncoinApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <!-- Navigation -->
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%- if current_user %>
            <div class="navbar-brand">Bienvenue, <%= current_user.email %></div>
        <% else %>
            <%= link_to "Se connecter", new_user_session_path , { :class=>"navbar-brand" } %>
        <% end %>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <%= form_tag(adverts_path, :method => "get", id: "search-form", class:"navbar-form navbar-left") do %>
            <div class="form-group">
              <%= text_field_tag :search, params[:search], placeholder: "Recherche" , class: "form-control" %>
            </div>
            <%= submit_tag "OK", class:"btn btn-default" %>
        <% end %>
        <ul class="nav navbar-nav">
          <%- if current_user %>
              <li> <%= link_to "Mes annonces", current_user %></li>
              <li> <%= link_to "Se déconnecter", destroy_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <%= yield %>
  </div>

  <script type="text/javascript" charset="utf-8" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  </body>
</html>