<!DOCTYPE html>
<html>
  <head>
    <title>LeboncoinApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%- if current_user %>
      <p>Bienvenue, <%= current_user.email %></p>
  <% else %>
      <p><%= link_to "Se connecter", new_user_session_path %></p>
  <% end %>

    <%= yield %>

  </body>
</html>
